.container-home {
  max-width: 80%;
  margin: 20px auto;

  height: 80dvh;
  display: grid;
  grid-template-columns: 50% 50%;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
