/* кругляши */

.circles{
    display: flex;
    width: 100%;

    justify-content: center;
    margin-top: 73px;
}

.__circle{
    display: flex;
    width: 80%;

    justify-content: end;
}

.big_circle{
    position: absolute;
    width: 550px;
    height: 550px;
    border-radius: 100%;
    background-color: rgba(255, 211, 202, 1);
    left: 20%;
    bottom: 15%;
}

.small_circle{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: rgba(255, 242, 239, 1);
    right: 15%;
}

.midlle_circle{
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background-color: rgba(255, 222, 215, 1);
    bottom: 10px;
    left: 60%;
}

/* новости */

.posts{
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;

}

.__post{
    display: flex;
    width: 95%;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.title-container{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.head{
    color: white;
}

.card{
    display: flex;
    width: 350px;
    height: 350px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    
}

.card{
    padding: 20px;
}

.t{
    font-size: 40px;
}